<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Authenticate</servlet-name>
        <servlet-class>servlets.Authenticate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profil</servlet-name>
        <servlet-class>servlets.Profil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pocetna</servlet-name>
        <servlet-class>servlets.Pocetna</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Narucivanje</servlet-name>
        <servlet-class>servlets.Narucivanje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Korpa</servlet-name>
        <servlet-class>servlets.Korpa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Istorija</servlet-name>
        <servlet-class>servlets.Istorija</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Authenticate</servlet-name>
        <url-pattern>/Authenticate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profil</servlet-name>
        <url-pattern>/Profil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pocetna</servlet-name>
        <url-pattern>/Pocetna</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Pocetna</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>Narucivanje</servlet-name>
        <url-pattern>/Narucivanje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Korpa</servlet-name>
        <url-pattern>/Korpa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Istorija</servlet-name>
        <url-pattern>/Istorija</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
